{% extends './layout.html' %}

{% block title %} Lista de cotizaciones {% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row rowedit">
      <div class="col-11">
        <h1>  Lista de cotizaciones {{ del_text }}</h1>
      </div>
      
      <!-- Sección del botón de información -->
      <div class="col">
        <div class="info">
          <button type="button" class="btn btn-outline-info btn-elevate btn-circle pulse circle">
            <i class="fa fa-info"></i>
          </button>
          
          <div class="extra-info">
            <div class="card">
              <div class="card-header headerStyle">
                <i class="fa fa-info-circle fa-2x iconcolor" aria-hidden="true"></i> <b>Ayuda en lista de cotizaciones</b>
              </div>
              
              <!-- Información de las acciones que puede realizar el usuario -->
              <div class="card-body" style="background-color: #f2f2f2">
                <h5 class="card-title text-center mb-3">Se despliega la lista de cotizaciones subidas, puedes realizar las siguientes acciones:</h5>

                <div class="buttonText">
                  <a class="btn btn-outline-primary" style="margin-right: 10px;">Ver</a>
                  <p class="text-primary">El botón <b>Ver</b> nos ayudará a conocer toda la información agregada en la cotización, datos del cliente y el servicio que se realizará.</p>
                </div>
                
                <div class="buttonText">
                  <a class="btn btn-outline-info" style="margin-right: 10px;">Modificar</a>
                  <p class="text-info">El botón <b>Modificar</b> puede editar una cotización en específico, solamente puedes editar el servicio.</p>
                </div>
    
                <div class="buttonText">
                  <a class="btn btn-danger" style="margin-right: 10px;">Eliminar</a>
                  <p class="text-danger">El botón <b>Eliminar</b> desactivará una cotización.</p>
                </div>
    
                <div class="buttonText">
                  <a class="btn btn-success" style="margin-right: 10px;">Activar</a>
                  <p class="text-success">El botón <b>Activar</b> permite activar nuevamente una cotización que fue desactivada con anterioridad.</p>
                </div>

                <div class="buttonText">
                  <a class="btn btn-outline-danger" style="margin-right: 10px;">PDF</a>
                  <p class="text-danger">El botón <b>PDF</b> transformará la cotización a un archivo PDF para impresión.</p>
                </div>                
              </div>
              
              <!-- Información de los estatus disponibles en esta sección -->
              <div class="card-body" style="background-color: #f2f2f2">
                <h5 class="card-title text-center mb-3">La cotización tiene los siguientes estatus:</h5>   
                
                <div class="buttonText">
                  <span class="rounded bg-info text-white" style="margin-right: 10px;">VIGENTE</span>
                  <p class="text-info">El estatus <b>VIGENTE</b> se obtiene en automatico cuando se crea una cotización.</p>
                </div> 

                <div class="buttonText">
                  <span class="rounded bg-success text-white" style="margin-right: 10px;">ACEPTADA</span>
                  <p class="text-success">El estatus <b>ACEPTADA</b> se obtiene cuando un administrador acepta la cotización y puede pasar a una orden de trabajo.</p>
                </div> 

                <div class="buttonText">
                  <span class="rounded bg-danger text-white" style="margin-right: 10px;">RECHAZADA</span>
                  <p class="text-danger">El estatus <b>RECHAZADA</b> se obtiene cuando un administrador rechaza la cotización.</p>
                </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Termina sección del botón de información -->
      
    </div>
  </div>
  <div class="card-body table-responsive">
    <table id="cotizacion-table" class="table table-striped table-bordered" data-ajax="{% url 'cotizacion-list' %}?format=datatables{% if deleted %}&deleted=t{%endif%}">
      <thead class="thead-dark">
          <th data-data='id' scope="col"># Cotización</th>
          <th data-data='cliente.razon_social' scope="col">Cliente</th>
          <th data-data='fecha' scope="col">Fecha</th>
          <th data-data='estatus'scope="col">Estatus</th>
          <th data-data='ver' scope="col">Acciones</th>
      </thead>
    </table>
    <div class="card-footer">
      <a class="btn btn-outline-primary" href='{{ btn_url }}'>{{ btn_act }}</a>
    </div>
  </div>  
</div>

{% endblock content %}

{% block extrajs %}
<script>
  const table = new DataTable('#cotizacion-table', {
    responsive: true,
    columns: [
      null,
      null,
      null,
      {
        'data': 'estatus',
        'render': function (data, type, row) {
          switch (data) {
            case 'VIGENTE' || 'vigente':
              return '<span class="rounded bg-info text-white">' + data + '</span>';
            case 'ACEPTADA' || 'aceptada':
              return '<span class="rounded bg-success text-white">' + data + '</span>';
            case 'RECHAZADA' || 'rechazada':
              return '<span class="rounded bg-danger text-white">' + data + '</span>';
            default:
              return data;
          }
        }
      },
      {'searchable':false},
    ],
    aaSorting: [[0,'asc']],
    language: {
        "lengthMenu": "Mostrar _MENU_ cotizaciones por página",
        "zeroRecords": "No se ha encontrado.",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "Sin información disponible",
        "search":         "Búsqueda:",
        "infoFiltered": "(Filtrado de _MAX_ cotizaciones)",
        "paginate": 
        {
            "first":      "Inicio",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior",
        },
    },
  }  );

</script>
{% endblock extrajs %}