{% extends './layout.html' %}
{% load widget_tweaks %}

{% block title %} Orden de trabajo {% endblock %}

{% block content %}
{{ form2.media.css }}

<form action="" method="post">
  <div class="card">
    <div class="card-body">
  
      <div class="card-title">
        <h1>Crear orden de trabajo</h1>
        <ul class="nav nav-pills" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Orden de trabajo</a>
          </li>
        </ul>
      </div>
  
     <body>
      <div class="container-sm">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}  {# Esto renderiza el formulario en forma de párrafos, puedes usar otros métodos como `as_table` o `as_ul` si lo prefieres. #}
          <button class="btn btn-success" type="submit">Guardar Orden de Trabajo</button>
        </form>
      </div>

  </div>
  </div>
  
</form>

{% endblock content %}