{% extends './layout.html' %}

{% block title %} Lista de usuarios  {{ del_text }}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h1> Lista de usuarios {{ del_text }}</h1>
  </div>
  <div class="card-body">
    <table class="table responsive table-striped table-bordered" id="empleados-table" data-ajax="{% url 'empleado-list' %}?format=datatables{% if deleted %}&deleted=t{%endif%}">
      <thead class="thead-dark">
          <th data-data="id" scope="col"># Empleado</th>
          <th data-data="user.username" scope="col">Usuario</th>
          <th data-data="user.first_name" scope="col">Nombre</th>
          <th data-data="user.last_name" scope="col">Apellido</th>
          <th data-data="puesto" scope="col">Puesto</th>
          <th data-data="ver" scope="col">Acciones</th>
      </thead>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-outline-primary" href='{{ btn_url }}'>{{ btn_act }}</a>
  </div>
</div>

{% endblock content %}


{% block extrajs %}
<script>
  const table = new DataTable('#empleados-table', {
    responsive: true,
    columns: [
      null,
      null,
      null,
      null,
      {'searchable':false},
      {'searchable':false},
    ],
    aaSorting: [[0,'asc']],
    language: {
        "lengthMenu": "Mostrar _MENU_ empleados por página",
        "zeroRecords": "No se ha encontrado.",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "Sin información disponible",
        "search":         "Búsqueda:",
        "infoFiltered": "(Filtrado de _MAX_ empleados)",
        "paginate": 
        {
            "first":      "Inicio",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior",
        },
    },
  }  );

</script>
{% endblock extrajs %}