<style>

  .alert-icon{
    display: block;
    text-align: center;
  }

  .icon {
    color: blue;
  }

  .textCSS{
    text-align: center;
  }

  .buttonText {
    display: flex;
    align-items: end;
  }
</style>

<div class="col-md-12 Edit" id="edicion">
  <div class="info">
    <i class="icon-info-sign"></i> Ayuda en cotizaciones

    <span class="extra-info">
      Se muestra la lista de cotizaciones realizadas, se pueden realizar ciertas acciones.
      <div class="row">
        <div class="buttonText">
          <a class="m-4 btn btn-outline-primary">Ver</a> 
          <p style="color: #000080; margin-left:10px;">El botón Ver nos ayudará a conocer toda la información agregada en la cotización, datos del cliente y el servicio que se realizará.</p>
        </div>

        <div class="buttonText">
          <a class='m-4 btn btn-outline-info'>Modificar</a> 
          <p style="color: #00FFFF;">Con el botón Modificar puedes editar una cotización, solamente puedes editar el servicio.</p>
        </div>
 
        <div class="buttonText">
          <a class='m-3 btn btn-danger'>Eliminar</a>
          <p style="color: #FF0000; margin-left:10px;">El botón Eliminar desactivara una cotización</p>
        </div>

        <div class="buttonText">
          <a class='m-4 btn btn-success'>Activar</a>
          <p style="color: #00FF00; margin-left:10px;">El botón Activar, permite activar nuevamente una cotización que fue desactivada con anterioridad. </p>
        </div>
      </div>
    </span>
  </div>
</div>