{% extends './layout.html' %}

{% block title %} Lista de ordenes de trabajo{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row rowedit">
      <div class="col-11">
        <h1>  Lista de órdenes de trabajo{{ del_text }}</h1>
      </div>
      
      <div class="col">
        <div class="info">
          <button type="button" class="btn btn-outline-info btn-elevate btn-circle pulse circle">
            <i class="fa fa-info"></i>
          </button>
          
          <div class="extra-info">
            <div class="card">
              <div class="card-header headerStyle">
                <i class="fa fa-info-circle fa-2x iconcolor" aria-hidden="true"></i> <b>Ayuda en lista de cotizaciones</b>
              </div>
              <div class="card-body" style="background-color: #f2f2f2">
                <h5 class="card-title text-center">Se despliega la lista de cotizaciones subidas, puedes realizar las siguientes acciones:</h5>

                <div class="buttonText">
                  <a class="btn btn-outline-primary" style="margin-right: 10px;">Ver</a>
                  <p class="text-primary">El botón Ver nos ayudará a conocer toda la información agregada en la cotización, datos del cliente y el servicio que se realizará.</p>
                </div>
                
                <div class="buttonText">
                  <a class="btn btn-outline-info" style="margin-right: 10px;">Modificar</a>
                  <p class="text-info">Con el botón Modificar puedes editar una cotización, solamente puedes editar el servicio.</p>
                </div>
    
                <div class="buttonText">
                  <a class="btn btn-danger" style="margin-right: 10px;">Eliminar</a>
                  <p class="text-danger">El botón Eliminar desactivará una cotización.</p>
                </div>
    
                <div class="buttonText">
                  <a class="btn btn-success" style="margin-right: 10px;">Activar</a>
                  <p class="text-success">El botón Activar permite activar nuevamente una cotización que fue desactivada con anterioridad.</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="card-body table-responsive">
    <table id="orden-compra-table" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <th scope="col"># Orden de Trabajo</th>
            <th scope="col">Codigo OT</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col"># Numero de cotización</th>
            <th scope="col">Estatus</th>
            <th scope="col">Ver</th>
        </thead>
        <tbody>
            {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.id }}</td>
                    <td>{{ orden.codigoOT }}</td>
                    <td>{{ orden.nombre }}</td>
                    <td>{{ orden.fecha }}</td>
                    <td>{{ orden.cotizacion_id }}</td>
                    {% if orden.estatus == "ESPERA" or orden.estatus == "espera" %}
                      <td><span class="rounded text-white" style="background-color: #f4b083;">EN ESPERA</span></td>
                    {% elif orden.estatus == "LABORATORIO" or orden.estatus == "LABORATORIO" %}
                      <td><span class="rounded text-white" style="background-color: #adb9ca;">EN LABORATORIO</span></td>
                    {% elif orden.estatus == "REVISION" or orden.estatus == "revision" %}
                      <td><span class="rounded"style="background-color: #ffe598;">EN REVISIÓN</span></td>
                    {% elif orden.estatus == "TERMINADO" or orden.estatus == "terminado" %}
                      <td><span class="rounded"style="background-color: #c5e0b3;">TERMINADO</span></td>
                    {% elif orden.estatus == "PAUSA" or orden.estatus == "pausa" %}
                      <td><span class="rounded text-white"style="background-color: #ff9b9b;">EN PAUSA</span></td>
                    {% endif %}
                    <td><a href="{% url 'ordenTrabajo-lista'%}">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer">
    <a class="btn btn-outline-primary" href="{% url 'crear-ordentrabajo' %}">Crear orden de Trabajo</a>
</div>
  </div>  
</div>

{% endblock content %}

{% block extrajs %}

<script>
  const table = new DataTable('#cotizacion-table', {
    responsive: true,
    columns: [
      null,
      null,
      null,
      {'searchable':false},
    ],
    aaSorting: [[0,'asc']],
    language: {
        "lengthMenu": "Mostrar _MENU_ cotizaciones por página",
        "zeroRecords": "No se ha encontrado.",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "Sin información disponible",
        "search":         "Búsqueda:",
        "infoFiltered": "(Filtrado de _MAX_ cotizaciones)",
        "paginate": 
        {
            "first":      "Inicio",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior",
        },
    },
  }  );

</script>
{% endblock extrajs %}